body {
	background-color: #dfdfdf;
	font-family: sans-serif;
	max-width: 800px;
	margin: 0 auto;
	padding: 4em 1em;
	font-size: large;
}

@media screen and (max-width: 500px) {
	body {
		padding: 2em 1em 1em 1em;
	}
}

header {
	background-color: #fafafa;
	border: 1px solid #1f1f1f;
	display: flex;
	flex-wrap: wrap;
	column-gap: 2em;
	align-items: center;
	padding: 1em;
}

header img {
	width: 200px;
	height: 200px;
}

header h1 {
	color: #0063c8;
	margin: 0;
	padding-bottom: 0.1em;
}

header p {
	margin: 0;
}

header .subtitle {
	color: #707070;
	padding-bottom: 1em;
	font-size: medium;
}

header .message {
	font-family: serif;
	font-style: italic;
}

main {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	column-gap: 1em;
}

main section {
	flex-grow: 1;
	min-width: 300px;
	margin-top: 1em;
	padding: 0 1em 1em 1em;
	background-color: #fafafa;
	border: 1px solid #1f1f1f;
}

main h1 {
	color: #909090;
}

.services  {
	padding: 0 1em;
	list-style: none;
}

.services li {
	margin-bottom: 0.5em;
	font-style: italic;
}

.services li::before {
	content: "- ";
	margin-right: 0.2em;
}

fieldset {
	border: none;
}

fieldset div {
	display: flex;
	column-gap: 0.5em;
	margin-bottom: 1em;
}

fieldset div:last-child {
	justify-content: right;
}

fieldset input, form textarea {
	flex-grow: 1;
}

.hidden {
	visibility: hidden;
}

.recaptcha-container {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: right;
}

.recaptcha-container button {
	margin-top: 1em;
}

footer {
	text-align: center;
	margin-top: 2em;
	color: #707070;
	font-size: medium;
}