body {
	background-color: #dfdfdf;
	font-family: serif, system-ui, sans-serif;
	max-width: 800px;
	margin: 0 auto;
	padding: 4em 1em;
	font-size: large;
}

header {
	background-color: #fafafa;
	border: 1px solid #1f1f1f;
	padding: 0.2em;
	text-align: center;
	font-size: larger;
}

header h1 {
	color: green;
}

header p {
	line-height: 1.5;
}

main {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	column-gap: 1em;
}

main section {
	flex-grow: 1;
	min-width: 200px;
	margin-top: 1em;
	padding: 0 1em;
	background-color: #fafafa;
	border: 1px solid #1f1f1f;
}

main h1 {
	color: #909090;
}

main ul {
	list-style: none;
	padding: 0 1em;
}

form {
	position: relative;
}

form li {
	display: flex;
	column-gap: 0.5em;
	margin-bottom: 1em;
}

form input, form textarea {
	flex-grow: 1;
}

form li:last-child {
	flex-wrap: wrap;
	justify-content: right;
}

footer {
	text-align: center;
	margin-top: 2em;
	color: #707070;
	font-size: medium;
}